@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

//GENERALI
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.link {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

//cards
.cards_box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 2000px;

    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 8px;
        width: calc(100% / 6 - 30px);
        padding: 15px;
        margin-bottom: 50px;
        background-color: rgb(30, 38, 53);
        border-radius: 10px;

        .title {
            color: #fff;
        }

        img {
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        &:hover {
            background-color: rgb(41, 52, 71);
            cursor: pointer;
        }
    }
}

// m breakpoint
@media screen and (max-width: 1300px) {

.cards_box {
    .card {
        width: calc(25% - 30px);
    }
}

}

// s breakpoint
@media screen and (max-width: 970px) {

    .cards_box {
        .card {
            width: calc(50% - 30px);
        }
    }

}

// xs breakpoint
@media screen and (max-width: 450px) {

    .cards_box {
        .card {
            width: 100%;
        }
    }

}

//scrollbar
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: rgb(107, 107, 107);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(196, 196, 196);
}